.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.container-h1 {
  max-width: 1200px;
  margin: 2rem auto 1rem auto;
  padding: 0 1rem;
}

.container-h1 h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0;
  border-left: 4px solid #007bff;
  padding-left: 10px;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

    